# {{ ansible_managed }}

# Base repositories
{% for item in apt_base_repositories %}
deb {{ item }}
{% endfor %}

# Aditional repositories
{% for item in apt_aditional_repositories %}
deb {{ item }}
{% endfor %}